/* =========================================
   EMERGENCY SOS SYSTEM - STYLE.CSS
========================================= */

/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #070b14;
    color: #ffffff;
    line-height: 1.6;
}


/* =========================
   NAVBAR
========================= */

.navbar {
    width: 100%;
    height: 76px;
    position: sticky;
    top: 0;
    z-index: 1000;

    background: rgba(7, 11, 20, 0.92);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
}

.nav-container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 20px;
    font-weight: 800;
}

.logo span {
    color: #38bdf8;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    color: #dbeafe;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;

    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}


/* =========================
   HERO SECTION
========================= */

.hero {
    min-height: calc(100vh - 76px);
    max-width: 1200px;
    margin: auto;
    padding: 80px 25px;

    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    align-items: center;
    gap: 70px;

    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;

    background: rgba(6, 182, 212, 0.12);
    filter: blur(100px);
    border-radius: 50%;

    top: 50px;
    left: 0;

    z-index: -1;
}

.hero-content {
    max-width: 650px;
}

.badge {
    display: inline-block;

    padding: 8px 15px;
    margin-bottom: 20px;

    color: #67e8f9;
    background: rgba(8, 145, 
